<!doctype html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/Base :: frag-head">
	<meta charset="ISO-8859-1">
	<title>Insert title here</title>
</head>
<body>

<header th:insert="layout/Base :: frag-header"></header>
<main>
	
  <section>
	<div class="card text-center">
	  <div class="card-header">
	    Clients
	  </div>
	  <div class="card-body">
	    
	    <table class="table table-striped">
		  <thead>
		    <tr>
		      <th scope="col">Id</th>
		      <th scope="col">Last name</th>
		      <th scope="col">First name</th>
		      <th scope="col">Cellphone</th>
		      <th scope="col">Direction</th>
		    </tr>
		  </thead>
		  <tbody>
		    <tr th:each="client : ${clients}">
		      <th scope="row" th:text="${client.id}"></th>
		      <td th:text="${client.lastname}"></td>
		      <td th:text="${client.firstname}"></td>
		      <td th:text="${client.cellphone}"></td>
		      <td th:text="${client.direction}"></td>
		    </tr>
		  </tbody>
		</table>
	    
	  </div>
	 
	</div>
  </section>

</main>
<footer th:replace="layout/Base :: frag-footer"></footer>	

</body>
</html>